body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icon {
  width: 42px;
  height: 42px;
  padding: 0;
  background: none;
}

.button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  height: 42px;
  position: relative;
}

.header {
  min-width: 800px;
  display: flex;
  border-bottom: 2px solid #913BFF;
  align-items: center;
  padding: 6px 28px 6px 34px;
  background: linear-gradient(180deg, #8000FF 0%, #9E00FF 40.42%, #61009C 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px -11px 19px 0px rgba(56, 0, 112, 0.63) inset;
  box-sizing: border-box;
}

.header__number {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Impact;
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 1px;
  background: linear-gradient(180deg, #06F 0%, #BD00FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 6px 75px 4px 75px;
}

.header__number_type_second {
  padding: 6px 67px 4px 67px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: var(--1, linear-gradient(180deg, #EBFF00 0%, #FFA800 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__container {
  border-bottom: 1px solid #FFB800;
  background: #370063;
  box-shadow: 0px 4px 3px 0px rgba(32, 0, 65, 0.91) inset;
  display: flex;
  border-radius: 18.5px;
  align-items: center;
  margin-left: 63px;
  position: relative;
}

.header__container:last-child {
  margin-left: 80px;
}

.header__icon {
  width: 47px;
  height: 49px;
  position: absolute;
  margin-left: -10px;
}

.header__icon_type_second {
  width: 39px;
  height: 27px;
  margin-left: 10px;
}

.footer {
  min-width: 800px;
  display: flex;
  align-items: center;
  padding: 4px 38px 4px 38px;
  border-bottom: 2px solid #913BFF;
  background: linear-gradient(180deg, #8000FF 0%, #9E00FF 40.42%, #61009C 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px -11px 19px 0px rgba(56, 0, 112, 0.63) inset;
  box-sizing: border-box;
}

.footer__button-click {
  position: absolute;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 2px 2px #330E4F;
  font-family: Impact;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0;
  z-index: 3;
  width: 13px;
  height: 16px;
  left: 15px;
  top: 5px;
}

.footer__button {
  position: relative;
}

.footer__number {
  text-align: center;
  text-shadow: 0px 4px 10px rgba(250, 255, 0, 0.62);
  font-family: Impact;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  background: var(--1, linear-gradient(180deg, #EBFF00 0%, #FFA800 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  min-width: 58px;
  padding: 7px 0;
}

.footer__count {
  border-radius: 10px;
  background: #320950;
  min-width: 86px;
  height: 38px;
  margin-left: 13px;
  margin-right: 13px;
}

.footer__paragraph {
  min-width: 38px;
  font-family: Impact;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  background: var(--2, linear-gradient(180deg, #FFF 0%, #1DC9FF 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.footer__win {
  text-align: center;
  text-shadow: 0px 4px 10px rgba(250, 255, 0, 0.62);
  font-family: Impact;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  background: var(--1, linear-gradient(180deg, #EBFF00 0%, #FFA800 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-left: 37px;
  }

  .footer__container {
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 10px;
    background: #320950;
    height: 38px;
    display: flex;
    align-items: center;
    margin: 0 68px;
  }
  
  .footer__button-text {
    font-family: Impact;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    background: var(--2, linear-gradient(180deg, #FFF 0%, #1DC9FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }

  .footer__button-auto {
    width: 99px;
    height: 46px;
    border-radius: 11px;
    border: 1px solid #00A3FF;
    background: linear-gradient(180deg, #70FF00 0%, #BD00FF 0.01%, #005484 100%);
    box-shadow: 0px 4px 4px 0px rgba(36, 255, 0, 0.27), 0px 4px 4px 0px rgba(255, 247, 207, 0.65) inset, 0px -6px 4px 0px rgba(0, 163, 255, 0.26) inset;
    cursor: pointer;
  }

  .footer__button-auto_type_spin {
    border: 1px solid #FFB800;
    background: linear-gradient(180deg, #70FF00 0%, #008405 100%);
    box-shadow: 0px 4px 4px 0px rgba(36, 255, 0, 0.27), 0px 4px 4px 0px rgba(255, 247, 207, 0.65) inset, 0px -6px 4px 0px rgba(0, 255, 56, 0.26) inset;
    margin-left: 10px;
  }

  .footer__button-text_type_spin {
    background: linear-gradient(180deg, #FFF 0%, #73FF1D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .main {
    min-width: 800px;
    background: url(./images/back.png), lightgray 50% / cover no-repeat;
    padding: 4px 0;
  }

  .main__container {
    max-width: 412px;
    padding: 8px 21px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #FFE600;
    background: rgba(21, 9, 31, 0.73);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    row-gap: 13px;
    column-gap: 24px;
    margin: 0 auto;
  }

  .main__image {
    width: 105px;
    height: 65px;
  }